* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* I want the links to have the hover and focus effects
I also don't want them default blue */
a {
    text-decoration: none;
    color: lightgrey;
    transition: color 0.5s ease; /* found this cool transition timing to work out */
}
a:hover {
    color: grey;
}


/* Let's give this portfolio a minimal look */

body {
    background-color: black;
    background-image: url(../images/placeholder-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Since I want background black
let's make all test elements visible before applying opacity */

/* header will contain my name and navigation
Use flexbox to adjust items links within the navbar */

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font-size: 40px;
    color: lightgrey;
    font-weight: bold;
    margin-left: 50px;
    padding: 0;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 10px;
}

.header nav ul li {
    font-family: Georgia, serif;
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32,32,32,0.5); /* This will create a transparent box behind the section to assist in visibility */
    margin-top: 150px;
    margin-left: 70px;
    padding: 25px;
    height: 300px;
    width: 600px;
}
.about-me h2 {
    font-family: Georgia, serif;
    font-size: 52px;
    margin: 10px;
    color: lightgrey;
}
.about-me h3 {
    color: tan; /* Use tan to pop out focus and it's complimentary to the black, white, grey theme */
    font-size: 30px;
    margin: 10px;
    font-family: Georgia, serif; /* I need to find some better fonts */
}
.about-me p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: lightgrey;
}

/* Let's make a section for my projects */
.projects-header h2{
    margin: 300px 0 0 100px;
    color: lightgrey;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.projects .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 70px;
    background-color: rgba(32,32,32,0.5);
    text-align: center;
    position: relative;
}

.projects .project h3 {
    color: tan;
    font-family: Georgia, serif;
    margin-top: 10px;
    margin-bottom: 0;
}

.projects .project p {
    color: lightgrey;
}

.projects .project img {
    max-width: 400px;
    height: 200px; /* the images are different in size so i'm using custom px size to reformat */
    margin-top: 20px;
}

.projects .project .project-image::before { /* Needed to use a pseudo element. Pseudo elements won't work on <img> elements apparently */
    content: ""; /* this creates a layer on top of the image by default in order to make the hover transition happen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.projects .project:hover .project-image::before {
    opacity: 0;
}




/* refine the contact me section, we can make this pretty simple with just buttons */
.contact {
    color: lightgrey;
    display: flex;
    margin: 300px 0 0 100px;
}





/* Add @media screen and (max-width: 768px) after we finish */