* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}



/* Let's give this portfolio a minimal look */

body {
    background-color: black;
    background-image: url(../Images/placeholder-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Since I want background black
let's make all test elements visible before applying opacity */

/* header will contain my name and navigation
Use flexbox to adjust items links within the navbar */

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font-size: 40px;
    color: lightgrey;
    font-weight: bold;
    margin-left: 50px;
    padding: 0;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    margin: 10px;
}

.header nav ul li {
    font-family: Georgia, serif;
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
}


/* I want the links to have the hover and focus effects
I also don't want them default blue */
nav ul li a {
    text-decoration: none;
    color: lightgrey;
    transition: color 0.5s ease; /* found this cool transition timing to work out */
}
nav ul li a:hover {
    color: grey;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32,32,32,0.5); /* This will create a transparent box behind the section to assist in visibility */
    margin-top: 150px;
    margin-left: 70px;
    padding: 25px;
    height: 300px;
    width: 600px;
}
.about-me h2 {
    font-family: Georgia, serif;
    font-size: 52px;
    margin: 10px;
    color: lightgrey;
}
.about-me h3 {
    color: tan; /* Use tan to pop out focus and it's complimentary to the black, white, grey theme */
    font-size: 30px;
    margin: 10px;
    font-family: Georgia, serif; /* I need to find some better fonts */
}
.about-me p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: lightgrey;
}

/* Let's make a section for my projects */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects h3 {
    color: tan;
    font-family: Georgia, serif;
    margin-top: 10px;
    margin-bottom: 0;
}

.projects-header h2{
    margin-top: 300px;
    text-align: center;
    color: lightgrey;
}

.projects p {
    color: lightgrey;
}

.large-project {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(32,32,32,0.5);
    position: relative;
    padding: 25px;
}

.large-project-image img {
    max-width: 900px;
    max-height: 500px;
}

.large-project .large-project-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.large-project:hover .large-project-image::before {
    opacity: 0;
}

.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 35px;
    background-color: rgba(32,32,32,0.5);
    text-align: center;
    position: relative;
    max-width: 440px; /* I don't want the background to meet the edges of the images when the size gets too small */
} /* THE MAX WIDTH ADJUSTED THE DARK BACKGROUND. ADJUSTED VALUES TO MATCH THE SIDES */

.small-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.small-projects .project img {
    max-width: 400px;
    height: 200px; /* the images are different in size so i'm using custom px size to reformat */
    margin-top: 20px;
}

.small-projects .project .project-image::before { /* Needed to use a pseudo element. Pseudo elements won't work on <img> elements apparently */
    content: ""; /* this creates an INVISIBLE [note the ""] layer on top of the image by default in order to make the hover transition happen */
    position: absolute; /* this is to position the layer over the image */
    top: 0;
    left: 0; /* the top and left properties sets this element to be positioned at the exact top left of the image */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* This particular rgba to make the 'dark' overlay look before hover */
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: none; /* this took me a long time to figure out - this lets the current overlay to allow elements underneath to be interacted with */
}

.small-projects .project:hover .project-image::before {
    opacity: 0;
}




/* refine the contact me section, we can make this pretty simple with just buttons */
.contact {
    margin-top: 300px;
    text-align: center;
}

.contact h2 {
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px 70px;
}

.contact .button-container .button {
    font-family: Georgia, serif;
    padding: 10px 30px;
    border: 3px solid tan;
    border-radius: 15px;
    transition: all 0.7s ease;
}

.contact .button-container .button:hover {
    background-color: tan;
    color: rgba(32,32,32,0.5)
}

.contact .button-container a {
    text-decoration: none;
    color: tan;
}



/* Add @media screen and (max-width: 768px) after we finish */